@import url('https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic" rel="stylesheet');
* {
  font-family: "Outfit", "Roboto Mono";
}

.fade {
  transition: delay;
}

.project:hover {
  text-decoration: underline;
}
